@{
    ViewData["Title"] = "About";
}


<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-12">
        @*<h2>@ViewData["Title"]:</h2>*@
        <h3>@ViewData["Message"]</h3>

        @*<h3>Survey of Minor Irrigation Equipment, Area and Costing</h3>
        <h3>under</h3>*@
        @*<h3>Digitalization of Survey and Monitoring for Developing of Minor Irrigation (Phase IV) Project</h3>*@
        <h4>Bangladesh Agricultural Development Corporation (BADC)</h4>
    </div>
</div>


<div class="row" style="margin-bottom:10px;">

    <div class="col-md-3">
        <div class="badc-home-title">▣ Study Goal:</div>
        <div class="badc-home-text">
            To provide technical assistance and suggestions to the government and policy makers for formulation of minor irrigation policy, planning strategy, projects and programs.
        </div>

        <div class="badc-home-title">▣ Main Objective:</div>
        <div class="badc-home-text">
            To conduct survey on irrigation equipment and prepare digital database including GIS based and web-enable Database Management Software for proper monitoring of minor irrigation activities to assist BADC and policy makers.
        </div>
    </div>

    @*<div class="col-md-3">
            <h2>▣ Main Objective</h2>
            <div>
                To conduct survey on irrigation equipment and prepare digital database including GIS based and web-enable Database Management Software for proper monitoring of minor irrigation activities to assist BADC and policy makers.
            </div>
        </div>*@

    <div class="col-md-6">
        <div class="badc-home-title">▣ Specific Objectives:</div>
        <div class="badc-home-text">
            <ul>
                <li>
                    To conduct detail (census) survey of minor irrigation equipment in terms of numbers mentioning name & location of scheme (JL no., Plot no., Latitude, Longitude etc), GPS Positioning including other parameters;
                </li>
                <li>
                    To conduct the detail survey of minor irrigation equipment for three cropping season (Kharif-1, Kharif-2 and Robi Season);
                </li>
                <li>
                    To find out the command area, crop wise irrigated area through irrigation equipment survey;
                </li>
                <li>
                    To conduct the RTK GPS survey for selected DTW and GPS survey for selected STW;
                </li>
                <li>
                    To design and develop the web-enable and GIS based software for management and monitoring and mapping of the minor irrigation activities;
                </li>
                <li>
                    To develop web-based database on minor irrigation equipments;
                    To enhance the capacity of BADC Engineers and officials through formal training at home and abroad.
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-3">
        <div class="badc-home-title">▣ Methodology:</div>
        <div class="badc-home-text">
            <ul>
                <li>
                    <span class="badc-home-sub-title">Inception Phase:</span>
                    <ul>
                        <li>
                            Reconnaissance filed visit
                        </li>
                        <li>
                            Requirement Analysis/Need Assessment
                        </li>
                        <li>
                            Review of existing data database and data related software available in BADC
                        </li>
                        <li>
                            Review and evaluate of pre-defined data collection forms
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="badc-home-sub-title">Survey and Data Collection:</span>
                    <ul>
                        <li>
                            RTK GPS-33000 DTW
                        </li>
                        <li>
                            GPS-75000 STW
                        </li>
                        <li>
                            Census-around 16 Lakh
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>

