@model BADCIrrigationEquipmentSurvey.Models.DataModels.Kharif2SurveyInfo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Kharif2SurveyInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TotalOperatingHour" class="control-label"></label>
                <input asp-for="TotalOperatingHour" class="form-control" />
                <span asp-validation-for="TotalOperatingHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TAmanArea" class="control-label"></label>
                <input asp-for="TAmanArea" class="form-control" />
                <span asp-validation-for="TAmanArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OthersArea" class="control-label"></label>
                <input asp-for="OthersArea" class="form-control" />
                <span asp-validation-for="OthersArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TAmanCost" class="control-label"></label>
                <input asp-for="TAmanCost" class="form-control" />
                <span asp-validation-for="TAmanCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OthersCost" class="control-label"></label>
                <input asp-for="OthersCost" class="form-control" />
                <span asp-validation-for="OthersCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BenefitedFarmerMale" class="control-label"></label>
                <input asp-for="BenefitedFarmerMale" class="form-control" />
                <span asp-validation-for="BenefitedFarmerMale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BenefitedAgricultureLabourMale" class="control-label"></label>
                <input asp-for="BenefitedAgricultureLabourMale" class="form-control" />
                <span asp-validation-for="BenefitedAgricultureLabourMale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
